@import 'tailwindcss';

@theme {
    --color-compartment: #ffffff;
    --color-compartment-border: #000000;
    --color-model-creator-canvas: #d4d4d4;
    --color-mode-selector-button-selected: #414a54;
}