@import 'tailwindcss';

@theme {
    --navbar-height: 70px;
    --footer-height: 100px;
    --color-primary: #2c6191;
    --color-secondary: #1d232a;
    --color-light-secondary: #273039;
    --color-tertiary: #2b333d;

    --color-subtitle-on-secondary: #556476;
}

html, body, #root {
    height: 100%;
    background-color: var(--color-primary);
}

@layer components {
    .title {
        @apply text-5xl font-bold;
    }
}